<div id="#about" class="about">
  <div class="container">
    <div class="row">
    <div class="col-sm-12">
      <h2 class="block__title">
      МЫ ИЗГОТАВЛИВАЕМ
      </h2>
      </div>
    </div>
    <div class="row">
      <div class="about__item col-lg-4 text-center">
        <img class="about__img" src="img/medal.png" alt="">
        <p class="about__name">
          Спортивные медали
        </p>
        <p class="about__price">
          От 96 руб/шт
        </p>
        <a class="call-back-btn popup__link" href="#popup__calc" class="">Рассчитать</a>
      </div>
      <div class="about__item col-lg-4 text-center">
        <img class="about__img" src="img/ordena3.png" alt="">
        <p class="about__name">
          НАГРАДНЫЕ МЕДАЛИ
        </p>
        <p class="about__price">
          От 88 руб/шт
        </p>
        <a class="call-back-btn popup__link" href="#popup__calc" class="">Рассчитать</a>
      </div>
      <div class="about__item col-lg-4 text-center">
        <img class="about__img" src="img/badges.png" alt="">
        <p class="about__name">
          ЗНАЧКИ С ЛОГОТИПОМ
        </p>
        <p class="about__price">
          От 62 руб/шт
        </p>
        <a class="call-back-btn popup__link" href="#popup__calc" class="">Рассчитать</a>
      </div>
    </div>
    <div class="row">
      <div class="about__item col-lg-7 text-center">
        <img class="about__img" src="img/coins.png" alt="">
        <p class="about__name">
          СУВЕНИРНЫЕ МОНЕТЫ
        </p>
        <p class="about__price">
          От 59 руб/шт
        </p>
        <a class="call-back-btn popup__link" href="#popup__calc" class="">Рассчитать</a>
      </div>
      <div class="about__item col-lg-2 text-center">
        <img class="about__img" src="img/brelok1l.png" alt="">
        <p class="about__name">
          БРЕЛОКИ
        </p>
        <p class="about__price">
          От 43 руб/шт
        </p>
        <a class="call-back-btn popup__link" href="#popup__calc" class="">Рассчитать</a>
      </div>
    </div>
  </div>
  
</div>