<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="img/medal.png" alt="">
        <p>Спортивные медали</p>
        <p>От 96руб/шт</p>
        <a class="call-back-btn" href="#" class="">Рассчитать</a>
      </div>
      <div class="col-lg-4 text-center">
        <img src="img/medal.png" alt="">
        <p>Спортивные медали</p>
        <p>От 96руб/шт</p>
        <a class="call-back-btn" href="#" class="">Рассчитать</a>
      </div>
      <div class="col-lg-4 text-center">
        <img src="img/medal.png" alt="">
        <p>Спортивные медали</p>
        <p>От 96руб/шт</p>
        <a class="call-back-btn" href="#" class="">Рассчитать</a>
      </div>
      <div class="col-lg-4 text-center">
        <img src="img/medal.png" alt="">
        <p>Спортивные медали</p>
        <p>От 96руб/шт</p>
        <a class="call-back-btn" href="#" class="">Рассчитать</a>
      </div>
      <div class="col-lg-4 text-center">
        <img src="img/medal.png" alt="">
        <p>Спортивные медали</p>
        <p>От 96руб/шт</p>
        <a class="call-back-btn" href="#" class="">Рассчитать</a>
      </div>
    </div>
  </div>
</div>