<div class="container">
  <div class="row">
    <div class="col banner__info">
      <h1>
      ИЗГОТОВЛЕНИЕ
      <br> ЗНАЧКОВ, МЕДАЛЕЙ,
      <br> МОНЕТ НА ЗАКАЗ
      </h1>
      <p class="banner__desc">
        Бесплатная доставка в любую точку России.
        Разработаем дизайн-макета с нуля или доработаем имеющийся.
      </p>
      <a class="banner__calc-btn popup__link" href="#popup__calc">РАССЧИТАТЬ ЗАКАЗ</a>
    </div>
    <div class="col">
      <div class="banner__slideshow">
        <div class="banner__slide">
          <img class="img-responsive" src="img/school.jpg" alt="">
        </div>
        <div class="banner__slide">
          <img class="img-responsive" src="img/coin2.jpg" alt="">
        </div>
        <div class="banner__slide">
          <img class="img-responsive" src="img/vvkbadge.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-12 block-center">
      <a href="#about" class="icon-down block__center"></a>
    </div>
  </div>
</div>
<div id="popup__calc" class="mfp-hide popup__contact">
  <form id="contactForm" name="sentMessage" novalidate>
    <div class="row">
      <div class="col-sm-12 text-center">
        <input class="contact-form__input" type="text" placeholder="Имя *" required>
        <input class="contact-form__input" type="email" placeholder="Email *" required>
        <input id="phone" class="contact-form__input" type="text" placeholder="Телефон *" required>
      </div>
      <div class="col-sm-12 col-sm-12">
        <textarea class="contact-form__msg" id="message" placeholder="Детали заказа ..." required data-validation-required-message="Please enter a message."></textarea>
      </div>
      <div class="col-sm-12 text-center">
        <div id="contact-form__success"></div>
        <input class="send_btn" type="submit" value="рассчитать">
      </div>
    </div>
  </form>
</div>