<div class="container">
	<p class="callback__desc">
		Для более точного расчета оставьте ваши контакты и мы свяжемся с вами в течении <strong>5 минут</strong>
	</p>
	<div class="row">
		<div class="col-md-4 text-center">
			<input type="text" placeholder="Введите имя">
		</div>
		<div class="col-md-4 text-center">
			<input type="text" placeholder="Введите номер телефона">
		</div>
		<div class="col-md-4 text-center">
			<input type="email" placeholder="Введите ваш email" required >
		</div>
	</div>
	<div class="row">
		<form action="">
			<div class="col-xs-12">
				<p>
					Как с вами удобнее связаться?
				</p>
			</div>
			<div class="col-sm-12 text-center">
				<input type="checkbox" id="msgEmail" name="msgEmail" value="msgEmail">
				<label for="msgEmail">Письмо на E-mail</label>
			</div>
			<div class="col-sm-12 text-center">
				<input type="checkbox" id="callPhone" name="callPhone" value="callPhone">
				<label for="msgEmail">
					Позвонить по телефону
				</label>
			</div>
			<div class="col-sm-12">
				<button class="callback__submit" type="submit">отправить</button>
			</div>
		</form>
	</div>
</div>