<div class="cases">
	<h2 class="block__title">
	КЕЙСЫ
	</h2>
	<p class="text-center">
		Наши последние выполненные работы с подробным описанием
	</p>
	<div class="container">
		<div class="cases__slider">
			<div class="cases__slide">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/case1.jpg" alt="" class="cases__img img-responsive">
					</div>
					<div class="col-lg-6 cases__info">
						<p class="cases__title">
							Знаки для ветеранов ГЖД.
						</p>
						<p class="cases__desc">
							Знаки для ветеранов ГЖД. Знак изготовлен по эскизу заказчика. Применялась технология штамповка с гальванизацией под золото и нанесением мягких эмалей. На аверсе 3D изображение, на реверсе установлена безопасная булавка для крепления на одежду.
						</p>
						<div class="cases__thumbnails">
							<a class="cases__trigger" href="#">
								<img src="img/case1m.jpg" alt="">
							</a>
							<a class="cases__trigger" href="#">
								<img src="img/case12m.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cases__slide">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/case1.jpg" alt="" class="cases__img img-responsive">
					</div>
					<div class="col-lg-6 cases__info">
						<p class="cases__title">
							Значки для группы компаний "ВВК".
						</p>
						<p class="cases__desc">
							Был разработан дизайн значка с логотипом заказчика.
							Применялась технология штамповка с гальванизацией под серебро и нанесением мягких эмалей.
						</p>
						<div class="cases__thumbnails">
							<a class="cases__trigger" href="#">
								<img src="img/case1m.jpg" alt="">
							</a>
							<a class="cases__trigger" href="#">
								<img src="img/case12m.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cases__slide">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/case1.jpg" alt="" class="cases__img img-responsive">
					</div>
					<div class="col-lg-6 cases__info">
						<p class="cases__title">
							Наградные знаки для выпускников Неклиновской летной школы.
						</p>
						<p class="cases__desc">
							Заказчик отправил нам фото знака и требовалось воссоздать точную его копию. С задачей справились на 100%.
							Технология: штамповка с гальванизацией под серебро и нанесением мягких эмалей.
							На аверсе 3D изображение, на реверсе установлен винт с гайкой
						</p>
						<div class="cases__thumbnails">
							<a class="cases__trigger" href="#">
								<img src="img/case1m.jpg" alt="">
							</a>
							<a class="cases__trigger" href="#">
								<img src="img/case12m.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cases__slide">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/case1.jpg" alt="" class="cases__img img-responsive">
					</div>
					<div class="col-lg-6 cases__info">
						<p class="cases__title">
							Наградные медали на колодке.
						</p>
						<p class="cases__desc">
							Заказчик прислал примерный эскиз медали. Нами были сделаны доработки и адаптация дизайн-макета под производство.
							Технология: штамповка 3D
							Комбинированное покрытие -золото + серебро.
							Мягкие эмали.
							Крепление: безопасная булавка.
						</p>
						<div class="cases__thumbnails">
							<a class="cases__trigger" href="#">
								<img src="img/case1m.jpg" alt="">
							</a>
							<a class="cases__trigger" href="#">
								<img src="img/case12m.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="cases__slide">
				<div class="row">
					<div class="col-lg-6">
						<img src="img/case1.jpg" alt="" class="cases__img img-responsive">
					</div>
					<div class="col-lg-6 cases__info">
						<p class="cases__title">
							Коллекция сувенирных монет.
						</p>
						<p class="cases__desc">
							Иркутский предприниматель дал нам задание разработать дизайн и сделать монеты с достопримечательностями его города и Байкала.
							Было разработано 3 вида монет каждая с оригинальным изображением на обеих сторонах.
							Технология: штамповка 3D
							Покрытие: античная бронза
						</p>
						<div class="cases__thumbnails">
							<a class="cases__trigger" href="#">
								<img src="img/case1m.jpg" alt="">
							</a>
							<a class="cases__trigger" href="#">
								<img src="img/case12m.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>