<div class="production__callback">
	<div class="container">
		<div class="row">
			
			<div class="col-sm-12">
				<h2 class="block__title production__subtitle">
				Контактная форма
				</h2>
			</div>
			<div class="col-md-4 text-center">
				<input class="contact-form__input" type="text" placeholder="Имя">
			</div>
			<div class="col-md-4 text-center">
				<input class="contact-form__input" type="text" placeholder="Email">
			</div>
			<div class="col-md-4 text-center">
				<input class="contact-form__input" type="text" placeholder="Тел.">
			</div>
			<div class="col-sm-12 text-center">
				<input class="send_btn" type="submit" value="отправить сообщение">
			</div>
		</div>
	</div>
</div>