<h2 class="block__title">
РАБОТАЕМ ПО ДОГОВОРУ!
</h2>
<div class="container contract">
	
	<form action="">
		<div class="col-sm-12 text-center">
			<input class="contract__input text-center" type="text" placeholder="Введите имя">
		</div>
		<div class="col-sm-12 text-center">
			<input class="contract__input text-center" type="email" placeholder="Введите адрес электронной почты">
		</div>
		<div class="col-sm-12  text-center">
			<input class="send_btn" type="submit" value="скачать образец договора">
		</div>
		
		
	</form>
</div>