<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="block__title">
				ПОЧЕМУ ВЫБИРАЮТ ИМЕННО НАС?
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<img src="img/11.png" alt="">
				<p class="features__subtitle">
					ЦЕНЫ
				</p>
				<p class="features__desc">
					Как правило мы предлагаем цены ниже чем у конкурентов, потому что наш завод расположен в Китае
				</p>
			</div>
			<div class="col text-center">
				<img src="img/2.png" alt="">
				<p class="features__subtitle">
					ПРИНЦИПЫ
				</p>
				<p class="features__desc">
					Мы не берем с вас 100% предоплату, а даем возможность посмотреть образец изделия взяв плату только за пресс-форму
				</p>
			</div>
			<div class="col text-center">
				<img src="img/3.png" alt="">
				<p class="features__subtitle">
					ВОЗМОЖНОСТИ
				</p>
				<p class="features__desc">
					Можем изготовить изделие любой формы и размера. Возможности не ограничены
				</p>
			</div>
			<div class="col text-center">
				<img src="img/4.png" alt="">
				<p class="features__subtitle">
					СРОКИ
				</p>
				<p class="features__desc">
					3 дня - на дизайн<br>
					7 дней - на образцы<br>
					14 дней - вся партия
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<img src="img/7.png" alt="">
				<p class="features__subtitle">
					ОХВАТ
				</p>
				<p class="features__desc">
					Работаем по всей России
					Доставка Бесплатно!
				</p>
			</div>
			<div class="col text-center">
				<img src="img/5.png" alt="">
				<p class="features__subtitle">
					ПОДХОД
				</p>
				<p class="features__desc">
				Индивидуальный подход к каждому клиенту. Разработаем дизайн-макет с нуля или доработаем имеющийся				</p>
			</div>
			<div class="col text-center">
				<img src="img/6.png" alt="">
				<p class="features__subtitle">
					ГАРАНТИИ
				</p>
				<p class="features__desc">
					Гарантируем качество продукции, или вернем деньги.
					Жесткий контроль на каждом этапе производства
				</p>
			</div>
		</div>
	</div>
</div>
</div>