<div class="footer__contacts">
	<div class="container">
		<div class="row footer__wrap">
			<div class="col footer__map">
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0f489174630f1e721ddd631c02f22d8c00c7ab1316c4d1aa555494ee8b73c803&amp;source=constructor" width="587" height="100%" frameborder="0"></iframe>
			</div>
			<div class="col footer__item">
				<h2 class="block__title footer__title">
				КАК НАС НАЙТИ:
				</h2>
				<a class="footer__place" href="https://yandex.ru/maps/-/CBe5eEDDtB
					">
					<div class="icon-map"></div>
					<span class="footer__desc">Иркутск<br>
					Пискунова 54</span>
				</a>
				<div class="footer__phones-wrap">
					<div class="icon-phone"></div>
					<div class="footer__phones">
						<a class="footer__phone" href="+7 (3952) 92-02-33">
							+7 (3952) 92-02-33
						</a>
						<a class="footer__phone" href="+7 (964) 652-02-33">
							+7 (964) 652-02-33
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="footer__copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 footer__item">
				<img class="header__logo" src="img/logo.png" alt="">
			</div>
			<div class="col-lg-9">
				<p class="footer__copyright-desc">
					
					' Цена указана при тираже 1000 шт.
				</p>
				<p class="footer__copyright-desc">
					Информация на сайте предназначена для ознакомления. Не является публичной офертой.
				</p>
			</div>
		</div>
	</div>
	
</div>