<div class="container">
	<div class="row align-items-center">
		<div class="col-sm-6 col-md block-center">
			<img class="header__logo" src="img/logo.jpg" alt="">
			<span>
				manufacturing
			</span>
		</div>
		<div class="col-sm">
			<p class="header__desc">
				Производство сувенирной и наградной продукции из металла с доставкой по всей России
			</p>
		</div>
		<div class="col-sm-6 col-md text-right">
			<a href="#" class="header__mail">
				zakaz@нопико.рф
			</a>
		</div>
		<div class="col-sm-6 col-md">
			<div class="header__callback">
				<a class="header__phone" href="+7 (3952) 92-02-33">
					+7 (3952) 92-02-33
				</a>
				<a href="#" class="call-back-btn">
					Заказать обратный звонок
				</a>
			</div>
		</div>
	</div>
</div>