<nav>
	<a href="#" class="nav__link menu-trigger">
		<span>
			Меню
		</span>
		<span class="icon-burger"></span>
	</a>
	<ul class="nav__list">
		<li class="nav__item"><a class="nav__link" href="#">О компании</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Производство</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Галерея</a></li>
		<li class="nav__item"><a class="nav__link" href="#">Цены</a></li>
		<li class="nav__item"><a class="nav__link" href="#">База знаний</a></li>
	</ul>
</nav>