<div class="offer">
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-lg-6">
				<p class="offer__desc">
					Только <strong>в ноябре</strong> скидка на производство любых медалей 10%
				</p>
				<form action="">
					<input class="offer__input" name="name" type="text" placeholder="Введите имя">
					<input class="offer__input" name="phone" type="text" placeholder="Введите ваш email">
					<button class="offer__btn" type="submit">
						получить скидку!
					</button>
				</form>
			</div>
		</div>
	</div>
</div>