<div class="pay">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-6">
				<div class="pay__about">
					<p class="pay__att">
						Мы не берем 100% предоплату.
					</p>
					<p class="pay__desc">
						Мы предоставляем всем клиентам возможность ознакомиться с образцом изделия перед производством всей партии. Вы платите <strong>только за пресс-форму</strong> (10-50%)
					</p>
				</div>
			</div>
			
			<div class="offset-lg-1 col-lg-4">
				<img class="pay__img img-responsive" src="img/perepis.png" alt="">
			</div>
			<div class="col-sm-12 offset-lg-1 col-lg-6 text-center">
				<a class="send_btn" href="javascript://0" onclick="slowScroll ('#contact-form')">
					Оставить заявку
				</a>
			</div>
		</div>
	</div>
</div>