<div class="container">
	<h2 class="block__title text-center">
	ПРОИЗВОДСТВО
	</h2>
	<div class="row">
		<div class="col-md-6">
			<p>
				Наше производство оснащено всем необходимым оборудованием. Таким образом мы можем производить любую сувенирную и наградную продукцию
			</p>
		</div>
		<div class="col-md-6">
			<img src="img/1product.jpg" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img src="img/2product.jpg" alt="">
		</div>
		<div class="col-md-6">
			<p>
				Прессы с усилием по 400 тонн позволяют добиться идеального качества штамповки - изящность и тонкость линий, мельчайшая проработка 3D элементов.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>
				Производственная мощность завода составляет 6 млн. зачков в месяц. Основными рынками сбыта являются:
				США
				Европа
				Россия
				Китай
			</p>
		</div>
		<div class="col-md-6">
			<img src="img/3product.jpg" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img src="img/4product.jpg" alt="">
		</div>
		<div class="col-md-6">
			<p>
				Для наших клиентов мы подготовили полный цикл производства от самого изделия до упаковочных решений (флокированные коробки, кейсы, плакетки), лент и даже удостоверений.
			</p>
		</div>
	</div>
</div>