<div class="container production">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="block__title">
			ПРОИЗВОДСТВО
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-1 text-right">
			<p class="production__number">
				1
			</p>
		</div>
		<div class="col-sm-12 col-md-5">
			<p class="production__desc">
				Наше производство оснащено всем необходимым оборудованием. Таким образом мы можем производить любую сувенирную и наградную продукцию
			</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<img src="img/1product.jpg" class="img-responsive" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<img class="img-responsive" src="img/2product.jpg" alt="">
		</div>
		<div class="col-sm-12 col-md-1 text-right">
			<p class="production__number">
				2
			</p>
		</div>
		<div class="col-sm-12 col-md-5">
			
			<p class="production__desc">
				Прессы с усилием по 400 тонн позволяют добиться идеального качества штамповки - изящность и тонкость линий, мельчайшая проработка 3D элементов.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-1 text-right">
			<p class="production__number">
				3
			</p>
		</div>
		<div class="col-sm-12 col-md-5">
			<p class="production__desc">
				Производственная мощность завода составляет 6 млн. зачков в месяц. Основными рынками сбыта являются:
				<ul>
					<li>
						США
					</li>
					<li>
						Европа
					</li>
					<li>
						Россия
					</li>
					<li>
						Китай
					</li>
				</ul>
			</p>
		</div>
		<div class="col-sm-12 col-md-6">
			<img src="img/3product.jpg"  class="img-responsive" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<img src="img/4product.jpg"  class="img-responsive" alt="">
		</div>
		<div class="col-sm-12 col-md-1 text-right">
			<p class="production__number">
				4
			</p>
		</div>
		<div class="col-sm-12 col-md-5">
			<p class="production__desc">
				Для наших клиентов мы подготовили полный цикл производства от самого изделия до упаковочных решений (флокированные коробки, кейсы, плакетки), лент и даже удостоверений.
			</p>
		</div>
	</div>
	<div class="row production__callback">
		<div class="col-sm-12">
			<h2 class="block__title production__subtitle">
			Избавьтесь от рисков, работая с профессионалами!
			</h2>
		</div>
		
		<div class="col-sm-12 text-center">
			<a href="#contact-form" class="send_btn">
				проконсультироваться с начальником производства
			</a>
		</div>
	</div>
</div>