<div class="slider__wrapper">
	<div id="slider">
		<div class="slide">
			<img class="slider__img" src="https://www.timroes.de/images/banners/gulp-bower.png" alt="">
		</div>
		<div class="slide">
			<img class="slider__img" src="https://www.timroes.de/images/banners/gulp-bower.png" alt="">
		</div>
	</div>
</div>

<div class="col-lg-4">lorem</div>
<div class="col-lg-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora officia, magni accusantium.</div>
<div class="col-lg-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste doloremque ratione minus laborum, vitae possimus necessitatibus impedit repudiandae deleniti, quia labore ipsa laudantium, reiciendis cum ex quisquam. Cupiditate reiciendis illum ipsam, atque veniam!</div>
