.about {
    background: #f2f2f2;
}

.about__item {
    margin: 0 0 30px;
}

.about__img {
    height: 180px;
}

.about__name {
    font-size: 1.643em;
    text-transform: uppercase;
    font-weight: 600;
}

.about__price {
    font-family: "Open sans", sans-serif;
    font-size: 1.286em;
    font-weight: 600;
    color: #323232;
}

@media (max-width:768px) {
    .about {
        display: none;
    }
}