.about {
	background: #f2f2f2;
}
.about__item {
    margin: 0 0 30px;
}

.about__img {
    height: 180px;
}

.about__name {
    font-size: 1.429em;
    text-transform: uppercase;
    font-weight: 600;
}

.about__price {
	font-weight: 600;
}