.contract {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("../img/contract_bg.png") center no-repeat;
    background-size: contain;
    min-height: 341px;
}