.contract {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url("../img/contract_bg.png") center no-repeat;
    background-size: contain;
    min-height: 341px;
    margin-bottom: 100px;
}

@media (max-width: $tablet) {
	.contract {
		min-height: 0;
	}
	
	.contract__btn {
		padding: 10px;
	}
}