.footer__contacts {
    background: url("../img/footerbg.png") center no-repeat;
    background-size: cover;
    background-position: 50% 82%;
}

.footer__wrap {
    min-height: 500px;
}

.footer__title {
    color: #fff;
}

.footer__phones-wrap {
    display: flex;
    align-items: center;
}

.footer__phones {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.footer__place {
    color: #fff;
    display: flex;
    max-width: 150px;
    @include link__reset;
}

.footer__desc {
    margin-left: 15px;
}

.footer__phone {
    color: #fff;
    @include link__reset;
}

.footer__copyright {
    background: url("../img/footerbg.png") center no-repeat;
    background-size: cover;
    background-position: 50% 97%;
    padding-top: 15px;
    margin-top: 5px;
}

.footer__copyright-desc {
    text-align: center;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: $tablet) {
    footer {
        background: $mango;
    }
    .footer__title {
        color: #000;
    }
    .footer__wrap {
        min-height: 0;
    }

    .footer__copyright,
    .footer__contacts {
        background: none;
    }

    .footer__desc,
    .footer__phone {
        color: #000;
    }

    .footer__map {
        display: none;
    }
}