html, body {
    overflow-x: hidden !important;
}

body {
    font-family: "Open sans", sans-serif;
    font-size: $base-fz;
    font-weight: 400;
}

h1 {
    font-size: 2.571em;
}

.send_btn {
    @include send_btn;
}

.block__title {
    @include accent_text;
    font-size: 2.857em;
    padding-top: 30px;
    text-align: center;
}

.block-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.h-margin {
    margin: 15px auto;
}

@media (max-width: 768px) {
    .block__title {
        font-size: 1.5em;
    }
}